.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* INICIO MAIN */
.main {
  width: 100%;
  background-color: #07083b;
  height: calc(100vh - 80px);
  background-image: url("/assets/projeto/01_projeto.png");
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main h1 {
  color: #ffffff;
  font-size: 54px;
}

.main p {
  font-size: 24px;
  font-style: italic;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 35px;
}

.main a {
  text-decoration: none;
  color: #07083b;
}

.divsobre {
  display: flex;
}

.divprojeto {
  width: 100%px;
  padding: 5px;
}

.callbuton {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #07083b;
  border: 0;
  padding: 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.9s;
}

/* FIM MAIN */

/* INICIO ABOUT */
.about {
  background-color: #FFFFFF;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: justify;
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
}

.divText {
  padding-right: 10%;
}

.divImg {
  background-color: transparent;
}

.divImg h1 {
  text-align: center;
}

.about div {
  max-width: 80%;
  padding-right: 20px;
}

.about div h1 {
  font-size: 32px;
  color: #07083b;
}

.about div h2 {
  font-size: 32px;
  color: #07083b;
}

.responsiveImg {
  width: 200px;
  height: 400px;
}

/* Responsividade */
@media (max-width: 600px) {
  .main {
    display: none;
  }

  .about {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 10px;
    align-items: center;
    background: transparent;
  }

  .about div {
    max-width: 80%;
  }

  .about div h1 {
    margin-top: 10px;
    font-size: 22px;
  }

  .about div h2 {
    font-size: 24px;
  }

  .about .divImg img {
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .responsiveImg {
    width: 100px;
    height: 200px;
  }
}