.container {
  display: flex;
  height: 100vh;
  max-width: 1200px;
  max-height: 900px;
  margin: 0 auto;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar {
  width: 250px;
  background-color: #07083b;
  padding: 10px;

}

.sidebar1 {
  width: 230px;
  background-color: #07083b;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebarItem {
  background-color: #75759b;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.text {
  font-size: 16px;
  color: #f7f3f3;
}

.link {
  text-decoration: none;
}

.sideItems {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  background-color: #faf6f6;
  margin-bottom: 20px;
}

.sideItem {
  background-color: #faf6f6;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  /*text-align: justify;*/
}

.sideTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sideItemText {
  text-align: justify;
}

.textContato {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.whatsappIcon {
  font-size: 40px;
  color: #0d0e0d;
  margin-right: 8px;
}


/* INÍCIO LINK " */
.divLink {
  display: flex;
  padding: 0px;
  gap: 30px;
  background-color: transparent;
  justify-content: center;
}

.divprojeto {
  width: 100%px;
  padding: 5px;
}

.callbutonProject {
  background-color: transparent;
  color: #0f0f0f;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.callbutonProject:hover {
  transform: scale(1.3);
  color: #0f0f0f;
  font-weight: bold;
}


.textFooter {
  font-size: 22px;
  color: #07083b;
}

/* INICIO RODAPE */
.footer {
  width: 100%;
  background-color: #07083b;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer h3 a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer h3 a:hover {
  color: #8888c7;
}

.footer p {
  margin-top: 10px;
  font-size: 1rem;
  color: #ccc;
}


@media (max-width: 600px) {
  .text {
    font-size: 12px;
    width: 100px;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 8px;
  }

  .sidebar {
    display: none;
  }
}